body {
	font-family: Arial, sans-serif;
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 20px;
  }

  h1 {
	text-align: center;
	margin-top: 50px;
	color: #fff;
  }

  #artistContainer {
	max-width: 600px;
	margin: 20px auto;
	background-color: #333;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  ul {
	list-style: none;
	padding: 0;
  }

  li {
	margin-bottom: 10px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
  }

  strong {
	color: #fff;
  }

  img {
	display: block;
	margin: 0 auto;
  }
  
  .members-list {
	text-align: center;
  }
  
  .members-list li {
	list-style-type: disc;
	margin-left: 20px;
  }
  
  .first-album {
	font-family: "Times New Roman", serif;
  }


  h2 {
	text-align: center;
	margin-top: 20px;
  }

  #slideContainer ul {
	list-style: none;
	padding: 0;
  }

  #slideContainer li {
	display: inline-block;
	margin: 10px;
  }

  #slideContainer img {
	width: 200px;
  }

  #artistContainer {
	max-width: 600px;
	margin: 20px auto;
	background-color: #333;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  ul {
	list-style: none;
	padding: 0;
  }

  li {
	margin-bottom: 10px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
  }

  strong {
	color: #fff;
  }

  img {
	display: block;
	margin: 0 auto;
  }
  
  .members-list {
	text-align: center;
  }
  
  .members-list li {
	list-style-type: disc;
	margin-left: 20px;
  }
  
  .first-album {
	font-family: "Times New Roman", serif;
  }

  h2 {
	text-align: center;
	margin-top: 20px;
  }

  #slideContainer ul {
	list-style: none;
	padding: 0;
  }

  #slideContainer li {
	display: inline-block;
	margin: 10px;
  }

  #slideContainer img {
	width: 200px;
  }
  
  .button-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  .button1 {
	padding: 10px 20px;
  }