<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="../css/style.css" >
    <title>Document</title>
</head>
<title>Error</title>
<body>
    <div>
       <h1>{{.ErrorNum}}</h1>
       <h1>{{.ErrorMessage}}</h1>
       <div class="button-container">
         <form action="/">
            <button class="button1" type="submit">Home</button>
         </form>
       </div>
    </div>
</body>
</html>
